html
  main
    head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet', href='/css/styles.css')
      link(rel='stylesheet',type="text/css", href='css/base.css')
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
      title
    body
      section
        header
          h2 Nombre
        form(action="users/create" method="POST")
          fieldset
          input(type='text', name='name', value='')
          label(for='') Escriba el nombre
          input(type="text", name="age", value="")
          label(for='') Escriba tu edad
          button(type='submit', name='button') Aceptar
